



#game{
    border-radius: 5px;
    border: solid;
    border-color: lightseagreen;
    background:repeating-linear-gradient(0deg, #0000 0px, #0000 20px, #0888 20px, #0888 40px),
    repeating-linear-gradient(90deg, #0000 0px, #0000 20px, #0888 20px, #0888 40px);
    
}

@media  (orientation:landscape){
    #game{
        max-height: 96vh;
        display: flex;
        justify-content:center;
    }

    .board_frame{
        width: 70%;
        max-width: 96vh;
    }

    .state_container{
        width: 30%;
    }

    .state_frame{
        max-width: 100%;
    }

    .state_container button{
        margin-top: 10%;
        width: 96%;
    }
}

@media (orientation:portrait) {
    #game{
        display: block;
    }

    .board_frame{
        width: 100%;
    }

    .state_container{
        width: 100%;
        display: flex;
        flex-wrap:wrap;
        justify-content:center;
    }

    .state_frame{
        min-width: 40%;
        max-width: 90%;
        width: 30vh;
    }

    .state_container button{
        
        min-width: 40%;
        max-width: 90%;
        width: 40vh;
    }
}

.board_frame{
    position:relative;
}


.board_frame::before{
    content: "";
    display: block;
    padding-top: 100%;
}


#board {
    position:absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #000e;
}

#board td {
    box-shadow: inset 1px 1px 1px 0 rgba(200, 200, 255, .5);
    background-color: #080e;
    padding: 5px;
    border-radius: 2px;
}

#board td tr{
    width: 100%;
    height:100%;
}

#result p{
    font-size: 64px;
    
}

.state_container{
    padding :5px;
    max-width: 100%;
}

.state_frame{
    margin: 1%;
    padding: 1%;
    display: flex;
    box-shadow: 2px 2px 1px 0 rgba(0, 0, 0, .5);
    color: white;
    text-shadow: 2px 2px 2px #000a;
    background-color: #8afa;
    border: 1px solid #8aff;
    border-radius: 5px;
    font-size :4vmax;
    text-align: center;
    font-weight: bold;
}
.state_frame div{
    display: block;
    max-width: 30%;
}

.state_frame div.black,
.state_frame div.white{
    width : 6vmax;
    height :6vmax;
}

.state {
    font-size: 5vmin;
    max-width: 20vw;
}

button {
    margin: 1vmax;
    padding: 1vmax;
    display: flex;
    box-shadow: 2px 2px 1px 0 rgba(0, 0, 0, .5);
    color: white;
    text-shadow: 2px 2px 2px #000a;
    background-color: #8afa;
    border: 2px solid #8aff;
    border-radius: 5px;
    font-size :4vmax;
    text-align: center;
    transition-duration: 0.5s;
    font-weight: bold;
}



button:hover{
   background-color: #00fa;
}

button:active{
    box-shadow: inset 2px 2px 1px 0 rgba(0, 0, 0, .5);
}

@keyframes put{
    0%{
        box-shadow: 5px 5px 3px 0 rgba(0, 0, 0, .5),
                    inset 5px 5px 5px 0 rgba(255, 255, 255, .05);
        scale: 150%;
        opacity: 0%;
    }
    100%{
        box-shadow: 2px 2px 1px 0 rgba(0, 0, 0, .5),
                    inset 5px 5px 5px 0 rgba(255, 255, 255, .05);
        scale:100%;
        opacity:100%;
    }
    
}

@keyframes reverse2black {
    0%{
        background-color: whitesmoke;
        transform:rotate3d(0, 1, 0, 0deg);
    }
    50%{
        background-color: whitesmoke;
        transform:rotate3d(0, 1, 0, 90deg);
    }
    51%{
        background-color: black;
    }
    100%{
        transform:rotate3d(0, 1, 0, 180deg);
        scale:100%;
    }
}

@keyframes reverse2white {
    0%{
        background-color: black;
        transform:rotate3d(0, 1, 0, 180deg);
    }
    50%{
        background-color: black;
        transform:rotate3d(0, 1, 0, 90deg);
    }
    51%{
        background-color: whitesmoke;
    }
    100%{
        transform:rotate3d(0, 1, 0, 0deg);
        scale:100%;
    }
}

div{
    transition-duration: 0.2s;
}

.black {
    margin: auto;
    box-shadow: 2px 2px 1px 0 rgba(0, 0, 0, .5),
                inset 5px 5px 5px 0 rgba(255, 255, 255, .05);
    background-color: black;
    animation-name: put;
    animation-duration: .5s;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.white {
    margin: auto;
    box-shadow: 2px 2px 1px 0 rgba(0, 0, 0, .5),
                inset 5px 5px 5px 0 rgba(255, 255, 255, .05);
    background-color: whitesmoke;
    animation-duration: .5s;
    animation-name: put;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}


.reversible {
    margin: auto;
    background-color: #ffff0044;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}


.menu{
    background-color: #000a;
    color: white;
    position:absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    animation-duration: 0.3s;
    animation-delay: 0.2s;
    opacity: 0;
    animation-name: fadein;
    animation-fill-mode:forwards;
}

.hidden{
    display: none;
    opacity: 0;
}

.menu * {
    text-align: center;
    font-size: 6vmin;
}

.menu h1{
    font-size: 10vmin;
    text-shadow: 2px 2px 2px #000a;
}

.menu button{
    display: block;
    margin: auto;
}
.menu input[type="checkbox"]{
    width: 6vmin;
    height: 6vmin;
}

#result .backlight .white,
#result .backlight .black,
#result .backlight .reversible{
    animation:none;
}
#result .backlight{
    margin: auto;
    width:18vmin;
    height:18vmin;
    border-radius: 50%;
    box-shadow: 0px 0px 10px 10px #ff8a;
}

@keyframes fadein {
  0%{
    opacity: 0%;
  }
  100%{
    opacity: 100%;
  }
}

